# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [177]:
# import numpy and pandas
import pandas as pd

import numpy as pn

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [178]:
admissions = pd.read_csv("C:\\Users\\fee10\\Ironhack\\Labs\\lab-advanced-topics-with-pandas\\data\\Admission_Predict.csv")

Remove trailing spaces at the end of the column names if there are any.

In [179]:
admissions.columns = [col.strip() for col in admissions.columns]
admissions.columns

# or:
# admissions.columns = admissions.columns.str.rstrip()

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [180]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [181]:
# Your code here:

admissions[admissions.isnull().any(axis=1)]

Empty DataFrame
Columns: [Serial No., GRE Score, TOEFL Score, University Rating, SOP, LOR, CGPA, Research, Chance of Admit]
Index: []

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [182]:
# Your code here:
admissions = admissions.set_index("Serial No.", drop=False)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [183]:
# Your code here:
admissions["GRE Score"].count()
admissions.count()

Serial No.           385
GRE Score            385
TOEFL Score          385
University Rating    385
SOP                  385
LOR                  385
CGPA                 385
Research             385
Chance of Admit      385
dtype: int64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [184]:
# Your code here:

admissions["GRE Score - CGPA"] = admissions["GRE Score"].astype(str) + "-" + admissions["CGPA"].astype(str)
admissions = admissions.set_index("GRE Score - CGPA", drop=True)
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score - CGPA,,,,,,,,,
337-9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
316-8.0,2,316,104,3,3.0,3.5,8.00,1,0.72
322-8.67,3,322,110,3,3.5,2.5,8.67,1,0.80
314-8.21,4,314,103,2,2.0,3.0,8.21,0,0.65
330-9.34,5,330,115,5,4.5,3.0,9.34,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [185]:
# Your code here:
admissions.reset_index(inplace=True)
admissions.head()

,GRE Score - CGPA,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337-9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
1,316-8.0,2,316,104,3,3.0,3.5,8.00,1,0.72
2,322-8.67,3,322,110,3,3.5,2.5,8.67,1,0.80
3,314-8.21,4,314,103,2,2.0,3.0,8.21,0,0.65
4,330-9.34,5,330,115,5,4.5,3.0,9.34,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [186]:
# Your code here:
advanced_func_1 = admissions[admissions["CGPA"]> 9][admissions["Research"]>0]
advanced_func_1.head()

C:\Users\fee10\AppData\Local\Temp\ipykernel_19744\3735034162.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  advanced_func_1 = admissions[admissions["CGPA"]> 9][admissions["Research"]>0]

,GRE Score - CGPA,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337-9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
4,330-9.34,5,330,115,5,4.5,3.0,9.34,1,0.90
10,328-9.1,11,328,112,4,4.0,4.5,9.10,1,0.78
19,328-9.5,20,328,116,5,5.0,5.0,9.50,1,0.94
20,334-9.7,21,334,119,5,5.0,4.5,9.70,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [187]:
# Your code here:
advanced_func_2 = admissions[admissions["CGPA"]>9][admissions["SOP"]<3.5]

print(advanced_func_2["Chance of Admit"].mean())

0.8019999999999999

C:\Users\fee10\AppData\Local\Temp\ipykernel_19744\3014020363.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  advanced_func_2 = admissions[admissions["CGPA"]>9][admissions["SOP"]<3.5]

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [188]:
  
   # Your code here: see next cell

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [189]:
# Your code here:
admissions["CGPA_std"] = (admissions["CGPA"] - admissions["CGPA"].mean()) / admissions["CGPA"].std()

admissions["GRE_std"] = (admissions["GRE Score"] - admissions["GRE Score"].mean()) / admissions["GRE Score"].std()

admissions["LOR_std"] = (admissions["LOR"] - admissions["LOR"].mean()) / admissions["LOR"].std()
admissions.head()

,GRE Score - CGPA,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337-9.65,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,316-8.0,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,322-8.67,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,314-8.21,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,330-9.34,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [190]:
# Libraries
from random import choices

In [191]:
# Run this code:

std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])
decision_choice

['GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std']

In [192]:
decision_choice = pd.DataFrame(decision_choice, columns=["Random Choice"])
decision_choice.head()

  Random Choice
0       GRE_std
1      CGPA_std
2       LOR_std
3       LOR_std
4       LOR_std

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# Your code here:

admissions = pd.concat([admissions, decision_choice],axis=1)
print(admissions.head())

  GRE Score - CGPA  Serial No.  GRE Score  TOEFL Score  University Rating  \
0         337-9.65           1        337          118                  4
1          316-8.0           2        316          104                  3
2         322-8.67           3        322          110                  3
3         314-8.21           4        314          103                  2
4         330-9.34           5        330          115                  5

   SOP  LOR  CGPA  Research  Chance of Admit  CGPA_std   GRE_std   LOR_std  \
0  4.5  4.5  9.65         1             0.92  1.747900  1.753381  1.191647
1  3.0  3.5  8.00         1             0.72 -0.991211 -0.063367  0.076740
2  3.5  2.5  8.67         1             0.80  0.121034  0.455704 -1.038166
3  2.0  3.0  8.21         0             0.65 -0.642597 -0.236391 -0.480713
4  4.5  3.0  9.34         1             0.90  1.233279  1.147798 -0.480713

  Random Choice Random Choice
0       GRE_std       GRE_std
1      CGPA_std      CGPA_std
2       LOR_std       LOR_std
3       LOR_std       LOR_std
4       LOR_std       LOR_std

Index(['GRE Score - CGPA', 'Serial No.', 'GRE Score', 'TOEFL Score',
       'University Rating', 'SOP', 'LOR', 'CGPA', 'Research',
       'Chance of Admit', 'CGPA_std', 'GRE_std', 'LOR_std', 'Random Choice',
       'Random Choice'],
      dtype='object')

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [194]:
# Your code here:

admissions["decision"]

KeyError: 'decision'

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [88]:
# Your code here:

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [89]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [90]:
# Your code here: